<div class="webcam-wrapper" (click)="imageClick.next();" [ngStyle]="{'width.px':videoWidth,'height.px':videoHeight}">
  <video #video [class]="videoStyleClasses"
    [ngClass]="nativeVideoElement.videoWidth > nativeVideoElement.videoHeight ? 'crop-width' : 'crop-height'" autoplay
    muted playsinline
    (resize)="videoResize()"></video>
  <div class="camera-switch" *ngIf="allowCameraSwitch && availableVideoInputs.length > 1 && videoInitialized" (click)="rotateVideoInput(true)"></div>
  <canvas #canvas [width]="width" [height]="height"></canvas>
</div>
